/* General styling for the header */
.header {
    background-color: #333;
    padding: 13px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Styling the content container */
.content {
    color: #b3b3b3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

/* Styling the head section */
.head {
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
}

.one {
    color: #c74905;
}

/* Styling the links */
.links {
    display: flex;
    gap: 25px;
}

.links a,
.links .link {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

/* Hover effect for the links */
.links a:hover,
.links .link:hover {
    color: #c74905;
    transform: translateY(-2px);
    text-shadow: 0px 2px 4px #ffffff;
}

/* Responsive styling for smaller devices */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .head {
        cursor: pointer;
        margin-bottom: 20px;
        font-size: 1.6rem;
    }

    .links {
        gap: 25px;
    }

    .links a,
    .links .link {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .head {
        font-size: 1.4rem;
    }

    .links {
        gap: 10px;
    }

    .links a,
    .links .link {
        font-size: 1rem;
    }
}
